<% if (!name) { %>
<h4>Ready to checkout? Please <strong>sign in</strong> or <strong>register</strong> above</h4>
<% } else { %>
<form id="checkout-form">
  <button class="checkout-button" type="submit">Place order</button>
</form>
<% }; %>
