<form class="navbar-form navbar-right" method="POST" action="/api/users/login">
  <div class="form-group">
    <input type="email" placeholder="email" name="email" class="form-control" autofocus>
  </div>
  <div class="form-group">
    <input type="password" placeholder="- wrong password! -" name="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
</form>