<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head%>
  </head>

  <body>
    <% include partials/_nav %>
    <div class="jumbotron">
      <div class="container">
        <h2>you're a snacking connoisseur</h2>
        <p>Thanks for your order!</p>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <div class="">
            <p class="info-p">Your order will be assembled by our scooping experts.<br>
            Keep an eye on your phone, we'll text you the details.<br><br>... It's that simple!
            </p>
          </div>
        <div class="row">
        <a href="/snacks">
          <div class="block-3 block-2 col-md-6">
            <h2 class="no-shadow">need even more?</h2>
            <p>Make another order, we won't judge.</p>
          </div>
        </a>
        </div>

      <% include partials/_footer %>
    </div> <!-- /container -->

    <% include partials/_scripts %>

  </body>
</html>
