<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head%>
  </head>

  <body>
    <% include partials/_nav %>
    <div class="jumbotron">
      <div class="container">
        <% include partials/_header %>
        <p>You're seconds away from easier snacking.</p>
      </div>
    </div>
    <div class='user-error'>
      <hr>
      <h4>Sorry, your email has already been registered</h4>
      <h5>To login, please use the form at the top</h5>
      <h5>... or try your registration again below</h5>
      <hr>
    </div>
    <% include partials/_reg_form %>

    <% include partials/_scripts %>
    <script type="text/javascript" src=/scripts/register.js></script>
  </body>
</html>
