<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head%>
  </head>

  <body>
    <% include partials/_nav_minimal %>
    <div class="jumbotron">
      <div class="container">
        <% include partials/_header %>
        <p>You're seconds away from easier snacking.</p>
      </div>
    </div>
    <div class="container">
      <div id="registration-form" class="col-lg-8">
        <form method="POST" action="/register">
          <div class="form-group">
            <p>First and last name</p>
            <input id="name-field" type="text" placeholder="Johnny McSmith" name="name" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <p>Email address</p>
            <input id="email-field" type="email" placeholder="email" name="email" class="form-control">
          </div>
          <div class="form-group">
            <p>Phone number (so we can text you when your order is ready)</p>
            <input id="phone-field" type="tel" placeholder="555-444-3322" name="phone" class="form-control">
          </div>
          <div class="form-group">
            <p>Make a password - must be 8 or more characters</p>
            <input id="pwd-a-field" type="password" placeholder="don't actually use 'password'" name="password-a" class="form-control">
          </div>
          <div class="form-group">
            <p>confirm your password</p>
            <input id="pwd-b-field" type="password" placeholder="type it again to be sure" name="password-b" class="form-control">
          </div>
          <div id="warning"></div>
          <button id="register-submit" type="submit" class="btn btn-success">...</button>
        </form>
      </div>
    </div>


    </div> <!-- /container -->

    <% include partials/_scripts %>
    <script type="text/javascript" src=/scripts/register.js></script>
  </body>
</html>
