<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head%>

  </head>

  <body>
    <% include partials/_nav %>
    <div class="jumbotron">
      <div class="container">
        <% include partials/_header %>
        <p>Check out our awesome snack options!</p>
        <p class="registration">Register in seconds for free <a href="/register">here</a></p>
       <!--  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <section class="products">
        <% snacks.forEach(function(elm){ %>
          <div class="product-card">
            <div class="product-image">
              <img src="snack_images/<%= elm['img-filename']%>" alt="picture">
            </div>
            <div class="product-info">
              <h5> <%= elm.name%> </h5>
              <h6>$<%= elm["price-per-100g"]/100 %> per 100 grams </h6>
              <button data-productid="<%=elm.id%>" class="add_item_button"> ADD TO CART</button>
            </div>
          </div>
            <% }) %>
        </section>

      </div>
      <hr>
      <footer>
        <p>&copy; M-J_Designz, Inc.</p>
      </footer>
    </div> <!-- /container -->
    <% include partials/_scripts %>
    <script src="scripts/add_to_cart_button.js"></script>
  </body>




</html>
