<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head%>
  </head>

  <body>
    <% include partials/_nav %>
    <div class="jumbotron">
      <div class="container">
        <% include partials/_header %>
        <p>Let's get right to the good stuff... Order all the snacks you love, without the fuss of finding the right bins. We'll do the scooping.</p>
        <p class="registration"><strong>Register in seconds for free </strong><a href="/register">here</a></p>
       <!--  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-2"></div>
        <a href="#">
          <div class="block-1 col-md-4">
            <h2>make new order</h2>
            <p>Already know what you want? Get scooping!</p>
          </div>
        </a>
        <a href="/snacks">
          <div class="block-2 col-md-4">
            <h2>all the snacks</h2>
            <p>Not sure what you want yet? Browse our curated selection of delicious snacks. </p>
          </div>
        </a>
        <div class="col-lg-2"></div>
      </div>

      <hr>

      <% include partials/_footer %>
    </div> <!-- /container -->

    <% include partials/_scripts %>

  </body>
</html>
