div.product-card {
  img {
    height: 150px;
    width: 150px;
    margin: 10px
  }
  input {
    font-size: 1.3em;
    width: 155px;
  }
  h6 {
    font-size: 1.1em;
  }
  h4 {
    font-weight: 700;
  }
}