body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}
div.row {
  margin-bottom: 20px;
}
div {
  background-repeat: no-repeat;
  background-size: cover;
}
div.jumbotron {
  background-image: url('/images/banner_scoop.jpg');
  height: 270px;
  margin-bottom: 0px;
}
.container p, .col-md-6 p{
  font-weight: 400;
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 7px black;
}
div.col-md-6 {
  height: 260px;
  border: 20px solid transparent;
  :hover {
    background-image: solid #FC292A;
  }
}
@media screen and (max-width: 991px) {
  div.col-md-6 {
    height: 190px;
    border: none;
  }
}
h2 {
  color: black;
  font-weight: 700;
}
p.registration {
  font-style: italic;
  a {
    font-weight: 700;
    color: #FC292A;
    text-decoration: none;
  }

}
.registration a:hover {
  color: white;
}
strong a {
  color: black;
  text-decoration: none;
  :hover {
    color: #FC292A;
  }
}

p.footer {
  font-size: 100%;
}
.block-1 {
  background-image: url('/images/jubejubes-lg.jpg');
}

.block-2 {
  background-image: url('/images/almonds-lg.jpg');
}