img#main-basket {
  transition: all 0.3s ease;
  float: right;
  height: 50px;
  margin-right: 1%;
  margin-left: 1%;
}

// img#main-basket:hover{
//   height: 60px;
// }

.navbar, #navbar {
  background-color: #F4D95D
}
//- Header Logo -//
 .navbar-header {
  a.navbar-brand {
    color: #FC292A;
    font-size: 2.2em;
    font-weight: 900;
    text-shadow: 0.8px 0.8px 2px black;
  }
 }
button.btn.btn-success {
  background-color: white;
  border-color: gray;
  color: black;
}
button.navbar-toggle.collapsed {
  background-color: #FC292A;
}